body {
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
  padding: 0;
}

input {
  border: none;
  outline: none;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

button:focus,
button:active {
  border: none;
  outline: none;
}
